/*****
Theme Name: Luxury Key
Theme URI:
Author: Madebyfire team
Author URI: http://www.madebyfire.com/
Description: Luxury Key Theme designed and developed by madebyfire team.
Version: 1.0
*****/

/*
.services-slider-left .slick-slide,.services-slider-right .slick-slide,.villa-slider .slick-slide{
	height: inherit;
}
.slick-slide .flexed-image .golden-icons img{
	height: auto;
}

.detail-tile-col:nth-child(even).active{
	height: auto;	
}
.detail-tile .select-list{
	height: initial;
}

.page-template-ST-Newlisting .gotoTop{
	display: none;
}
.page-template-ST-Newlisting footer{
	display: none;
}
.btn-custom-disabled{
	opacity: 0.5;
	cursor: default;

}
.btn-custom-disabled:hover{
	background-color: #b49759;
    color: #fff;
    border: 3px solid #b49759;

}

.form-row.select-list,.select-list .input-item, .select-list .input-item-mob{
	height: auto;
}
.form-row.select-list.select-list-flex.bedroom-search{
	height: 100%;
}
.accordion-content.dotlist ul{
	margin-left: 20px;
}
.sample{
	pointer-events: none;
    cursor: not-allowed!important;
}
*/
.services-slider-left .slick-slide,.services-slider-right .slick-slide,.villa-slider .slick-slide{
	height: inherit;
}
.slick-slide .flexed-image .golden-icons img{
	height: auto;
}

.detail-tile-col:nth-child(even).active{
	height: auto;	
}
.detail-tile .select-list{
	height: initial;
}

.page-template-ST-Newlisting .gotoTop{
	display: none;
}
.page-template-ST-Newlisting footer{
	display: none;
}
.btn-custom-disabled{
	opacity: 0.5;
	cursor: default;

}
.btn-custom-disabled:hover{
	background-color: #b49759;
    color: #fff;
    border: 3px solid #b49759;

}
.feature-item-slider .slick-slide {
	height: auto;
}
.date-pick{
    height: 52px;
}

.golden-select .ui-selectmenu-text.placeholder{
	color: #b49759;
}
.golden-select .ui-selectmenu-text{
	color: #3b3c3b;
}
.card-box.type-1 figure{
	height: auto;
}
.error-message{
	display: none;
}
.villa-cont{
	padding-right: 5px;
}
.villa-cont:not(:last-child):after{
	content: ',';
}
p:empty{
	display: none;
}
/*.drp-buttons{
	display: block!important;
}
.drp-buttons .drp-selected{
	display: none;
}*/
/*.drp-buttons .applyBtn{
	display: none;	
}*/
.form-row.error-row .floating-item-input:focus~.floating-item-label, .form-row.error-row .floating-item-label{
	color: #b9b9b9;
}
.select.overflow-y{
	max-height: 240px;
	overflow-y: auto; 
}
.feature-item a{
	display: block;
}
#qlwapp a{
	content: none;
}
.rc-anchor-light{
	margin-bottom: 20px;
}
.drop-links span .curser-disabled{
	cursor: not-allowed;
	pointer-events: none;
}
.pointer-none{
	pointer-events: none;	
}

.country-mobile .input-row.form-row{
	width: 90%;
	border:1px solid #b49759;
}
.country-mobile .form-row{
	width: 100%;
}
.country-mobile .select.overflow-y{ z-index: 99 }
.country-mobile .drop-links span{
	line-height: 31px;
	colour: #b9b9b9;
}


/* have to add in UI side */
.form-row .error-message {
	position: absolute;
    left: 0px;
    bottom: -30px;
}

#contact_list .form-row{
	position: relative;
	margin-bottom: 35px;
} 
.select-list{
	width: 100%;
}
.g-recaptcha{
	margin-bottom: 25px;
}
.floating-item .ui-selectmenu-button.ui-button{
	border: none;
}
.qlwapp-toggle:before{
	display: none;
}
.horizontal-form .error-message {
	position: absolute;
    left: 0;
    bottom: -25px;
}

.drop-links {
    width: 100%;
    height: 35;
}

.country-mobile .input-row.form-row{
	width: 90%;
	border:1px solid #b49759;
}
.country-mobile .form-row{
	width: 100%;
}
.country-mobile .select.overflow-y{ z-index: 99 }
.country-mobile .drop-links span{
	line-height: 31px;
}
.qlwapp-toggle:before{
	display:none!important
}
.body-hidden #qlwapp{
	display: none !important;
}

.msg_sub{
	text-align: center;
}
.msg_sub h3{
	font-weight: bolder;
    padding-bottom: 0px;
}
.accout-tile li{
text-transform:inherit;
}
.ui-front{
	z-index: 99999;
}
.registration-form .country-mobile-wrap{
	position: relative;
}
.registration-form .country-mobile-wrap .error-message{
	position: absolute;
    left: 0px;
    bottom: -3px;
    color: #e42828;
    display: none;
    font-size: 14px;
    padding: 5px 0;
}
.disabled-list{
    pointer-events:none;
    opacity:0.5;
}
#qlwapp{
	transition: all 0.5s ease!important;
}
@media only screen and (max-width: 1400px) {
	.white-card{
		max-height: 500px;
	    overflow-y: auto;
	}
}
.accout-tile .split-list {
    padding: 20px 0px;
}
.accout-tile-content {
    padding: 37px 40px 20px;
}
.accout-tile-left ul {
    margin-left: 2px;
}
.accout-tile li a i {
    width: 25px;
}
@media only screen and (max-width: 767px) {
	.accout-tile aside{
		padding: 23px;
	}
	.accout-tile-content {
		padding: 30px 10px 20px;
	}
	.accout-tile {
		padding-top: 0;
	}
}
.simplefavorites-modal-content-body{
	text-align: center;
}
.simplefavorites-modal-content-body p{
	padding-bottom: 0px;
}
.trip span:hover{
	color: #2e2e2e;
}
.trip span{
	color: #b49759;
	font-family: Quicksand-Bold,sans-serif;
	cursor: pointer;
}